
body {
margin:auto;
min-width:600px;
}

h1 {
  font-size: 3em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
}




.btnn {
  cursor:pointer;
  background: #354254;
opacity:1;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align:center;
  margin-top: -20px;
  height:130px;width:150px;
  border:2px solid #4EC49F;
  text-decoration: bold;
  text-align:center;
  	box-shadow: 0px 0px 1px 1px #4ec49f;
  	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}


.btnn:hover {
	box-shadow: 0px 0px 3px 3px #4ec49f;
	opacity:1;
	height:140px;width:160px;
    font-size: 28px;
    font-weight:bold;
}


#btn1 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 75%;
  left:  30%;
  line-height:30px;
  }
#btn1:hover {
  line-height:33px;
  margin-left:-85px;
  margin-top:-85px;
}

#btn2 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 85%;
  left: 50%;
  line-height:40px;
}
#btn2:hover {
  line-height:43px;
  margin-left:-85px;
  margin-top:-85px;
}


#btn3 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 75%;
  left: 70%;
  line-height:40px;
}
#btn3:hover {
  line-height:43px;
    margin-left:-85px;
  margin-top:-85px;
}

#btn4 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 40%;
  left: 75%;
  line-height:40px;
}
#btn4:hover {
  line-height:43px;
    margin-left:-85px;
  margin-top:-85px;
}

#btn5 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 40%;
  left: 25%;
  line-height:40px;
}
#btn5:hover {
  line-height:43px;
    margin-left:-85px;
  margin-top:-85px;
}


.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: -500 auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
    cursor:pointer;
  background: #354254;
opacity:1;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align:center;
  margin-top: -20px;
  height:130px;width:150px;
  border:2px solid #4EC49F;
  text-decoration: none;
  text-align:center;
  	box-shadow: 0px 0px 1px 1px #4ec49f;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: rotate(12deg) translate(-20em) rotate(-12deg); } /* 12em = half the width of the wrapper */
.deg72 { transform: rotate(90deg) translate(-20em) rotate(-90deg); }
.deg144 { transform: rotate(168deg) translate(-20em) rotate(-168deg); }
.deg216 { transform: rotate(236deg) translate(-20em)rotate(-236deg); }
.deg288 { transform: rotate(304deg) translate(-20em) rotate(-304deg); }
.deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }

.btn {
  -webkit-transition: linear 0.2s all;
  transition: linear 0.2s all; }
  .btn.btn-default {
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white; }
    .btn.btn-default:focus, .btn.btn-default:hover, .btn.btn-default:active {
      outline: 0; }
    .btn.btn-default:hover, .btn.btn-default:active {
      background-color: white;
      color: #111c35; }
    .btn.btn-default:highlight {
      background: transparent; }