#h3sub {
  color:#ccc;
	}
	
.fa {
  color:#EAEAEA;
  }
.fa:hover {
  color:#ffffff;
  }
  
#submit {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#354254; 
  color:#ffffff;
  boder:1px 1px 1px 1px; 
  border-style: solid; 
  border-color:#ffffff;
  -webkit-transition-duration: 0.4s; /* Safari */
}

#submit:hover {
  background-color:#ffffff;
  color:#354254;
}

.intro-header {
	height:350px;
	}
.h1_home {
	margin-top:-0px;
	}
.lead {
	text-align:justify;
}

.team .lead {
	text-align:center;
}

@media (min-width:767px) {
.gen {
	margin-top:100px;
	}


}
.pad {
	margin-right:50px;
	margin-left:50px;
	margin-top:15px;
	margin-bottom:15px;
	}
.morph-button {
	height:0px;
	}

@media (max-width:406px) {
.pad {
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	margin-bottom:15px;
	}
}
	
.linkedin:hover {
	color:#4EC49F;
	}

h5 {
	font-size:40px;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:100;
	}
	
h6 {
	font-size:20px;
	}



#idright {
	float:right;
	}

.linkedin {
	width:30px;
	height:30px;
	margin-left:520px;
	}
	
.id {
	width:400px;
	margin: auto;
    width: 70%;
    margin-bottom:100px;
	}

#footer {
	position: absolute;
	width:100%;
	height:50px;
	background-color:#293340;
	color:white;
	bottom:0;	
	}
#footer-title {
	color:#727272;
	font-size:1.5em;
	margin-left:15px;
	margin-top:10px;
	display:inline-block;
	}
#footer-link {
	color:#727272;
	font-size:1em;
	float:right;
	margin-right:15px;
	margin-top:10px;
	display:inline-block;
	}
#footer-link:hover {
	text-decoration:underline;
	}
	
.idphoto {
	border-radius:90px;
	width:50px;
  height:50px;
  margin-top:-30px;
	}
.idphotoright {
	display:inline-block; 
	margin-top:-16px;
	border-radius:90px;
	float:right;
	}

@media (max-width:600px) {
	.idphoto {
	width:50%;
	border-radius:400px;
	margin-bottom:2px;
	}
	.idphotoright {
	width:100%;
	border-radius:400px;
	float:none;
	}
	teammem {
		width:100px;
	}
	}

.linkedin_team {
	width:47px;
	margin-top:-30px;
	margin-left:10px;
  margin-right:10px;
  cursor:pointer;
  float:right;
	}
	
	
.linkedin_teamR {
	width:40px;
	cursor:pointer;
	}	



.teammem {
	width:300px;
	margin-bottom:15px;
	display:inline-block;
	align-content: center;
  vertical-align: top;
  margin-top:50px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
#close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}





h1 {
  font-size: 3em;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 12;
  color:white;
  letter-spacing:2px;
  font-weight:400;
	text-align:left;
	font-size:3.5em;
}
h6  {
  font-size: 12;
  color:white;
  letter-spacing:2px;
  font-weight:400;
  font-size:3.5em;
}

#intro-page h1 {
  font-family: 'SciFly', sans-serif;
  font-size: 10em;
  color: #ffffff;
}






/* font */
@font-face {
  font-family: 'SciFly';
  src: url('scifly.ttf') format('truetype');
}

body {
  margin:auto;
  font:arial;
}

#intro-page {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#intro-logo {
  width: 300px;
}

#intro-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-wrapper button {
  margin: 30px 0px;
}

#intro-blurb {
  color: white;
  width: 300px;
  text-align: justify;
}

#intro-page h1 {
  font-family: 'SciFly', sans-serif;
  font-size: 10em;
  color: #ffffff;
}

#nav-page {
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
}
.modal {
  text-align:justify;
}
canvas {
  top: 0;
  width: 100%;
  height: 100%;
}


.nav-logo {
  top: 5%;
  margin:auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width:100%;
}

.nav-logo img {
  width: 300px;
  height: 300px;
}

#nav-page #nav-buttons {
  position: absolute;
  top: 60%;
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-page #footer-home {
	position: absolute;
	width:100%;
	height:50px;
	bottom:0;	
	}
#nav-page #footer-title {
	color:#e5e5e5;
	font-size:1.5em;
	margin-left:15px;
	margin-top:15px;
	display:inline-block;
	}

#nav-page #footer-link {
	color:#e5e5e5;
	font-size:1em;
	float:right;
	margin-right:15px;
	margin-top:15px;
	display:inline-block;

  }

  .smallScreen {
    display:none;
  }

@media (max-width: 768px) {
  #nav-page #nav-buttons {
    flex-direction: column;
    top: 50%;
    height: 40%;
  }
  #nav-page #nav-logo {
    top: -0%;
    height: 30%;
    z-index: 10;
    position: absolute;
    top: 5%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #aifredText img {
    display:none;
  }
  #aifredText {
    display:none;
  }
 h2 {
  display:none;
 }
 .smallScreen {
   display:block;
   height:200px;
 }
 .smallScreen img {
  height:100px;
  width:auto;

}
 .btn {
  width:400px;
 }
}


@media (max-width: 500px) {
  #general-page {
    width:126%;
    left:-13%;
    height:120%;
    margin-top:-25%;
   }
   #physician-page {
    width:126%;
    left:-13%;
    height:120%;
    margin-top:-25%;
   }
   #researcher-page {
    width:126%;
    left:-13%;
    height:120%;
    margin-top:-25%;
   }
   #investor-page {
    width:126%;
    left:-13%;
    height:120%;
    margin-top:-25%;
   }
   #patient-page {
    width:126%;
    left:-13%;
    height:120%;
    margin-top:-25%;
   }
}

h1 {
  font-size: 3em;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  display:inline-block;
}



.btn.btn-menu {
  background: #354254;
  border: 1px solid #4EC49F;
  height: 50px;
  width: 150px;
  white-space: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

.btn.btn-menu:hover {
  background: white;
  color: #354254;
}

.btn.btn-menu:focus {
  outline:0;
}

.navbar-default {
  background:#354254;
	top:0;
	height:10px;
}



.text {
  z-index: 10;
  position: absolute;
  top: 5%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width:80%;
  margin-left:10%;
  color:#ccc;
}

.text p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;

}

.btn.btn-circle {
  display: block;
  margin: auto;
  border:1px solid white;
  width:120px;
  height:60px;
  border-radius:20%;
  background:white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
}

.closebtn {
  color:white;
  font-size:20px;
  float:right;
  margin-top:-10px;
}

.closebtn:hover {
  cursor:pointer;
  color:white;
  text-decoration:none;  
}


#general-page p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;
  color:white;
}

#physician-page p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;
  color:white;
}

#researcher-page p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;
  color:white;
}

#investor-page p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;
  color:white;
}

#patient-page p {
  margin:50px;
  font-size:18px;
  background:#354254;
  border-radius:40px;
  border:30px solid #354254;
  color:white;
}


.homeLogo {
  height:40px;
}

.menuItem {
  color:white;
}
.menuItem:hover {
  color: #4EC49F;

}

.explore {
  bottom:8%;
  border: 1px solid white;
  background: none;
  color:white;
  width:150px;
  height:50px;
  border-radius: 60px;
}
.explore:hover {
  background:white;
  color:black;
}
.upload {
  position: relative;
  top:40%;
  border: 1px solid #354254;
  background: #354254;
  color:#4EC49F;
  width:150px;
  height:50px;
  border-radius: 60px;

}
.upload:hover {
  background:#4EC49F;
  color:#354254;
}
.uploadpage {
  background:white;
  position: absolute;
  top:10%;
  bottom:10%;
  right:10%;
  left:10%;
  border-radius: 30px;
  text-align: center;
}

.readmore {
  border:solid 2px white;
}

.readmore:hover {
  border:dashed 2px black;
  cursor:pointer
}

.meetTeam {
  background:#4EC49F;
  color:#354254;
  margin-top:20px;
  height:60px;
}

.meetTeam:hover {
  background:#43A687;

}



.teampage {
  background:rgba(255, 255, 255, 0.9);
  position: absolute;
  top:5%;
  bottom:5%;
  right:5%;
  left:5%;
  border-radius: 20px;
  text-align: center;
  overflow:scroll;
}