#h3sub {
  color:#ccc;
  }
.fa {
  color:#EAEAEA;
  }
.fa:hover {
  color:#ffffff;
  }
  
#submit {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#354254; 
  color:#ffffff;
  boder:1px 1px 1px 1px; 
  border-style: solid; 
  border-color:#ffffff;
  -webkit-transition-duration: 0.4s; /* Safari */
}

#submit:hover {
  background-color:#ffffff;
  color:#354254;
}

.intro-header {
	height:350px;
	}
.h1_home {
	margin-top:-0px;
	}
.lead {
	text-align:justify;
}

.team .lead {
	text-align:center;
}

@media (min-width:767px) {
.gen {
	margin-top:100px;
	}

}
.pad {
	margin-right:50px;
	margin-left:50px;
	margin-top:15px;
	margin-bottom:15px;
	}
.morph-button {
	height:0px;
	}

@media (max-width:406px) {
.pad {
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	margin-bottom:15px;
	}
}
	
.linkedin:hover {
	color:#4EC49F;
	}

h5 {
	font-size:40px;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:100;
	}
	
h6 {
	font-size:20px;
	}



#idright {
	float:right;
	}

.linkedin {
	width:30px;
	height:30px;
	margin-left:520px;
	}
	
.id {
	width:400px;
	margin: auto;
    width: 70%;
	}

#footer {
	position: absolute;
	width:100%;
	height:50px;
	background-color:#293340;
	color:white;
	bottom:0;	
	}
#footer-title {
	color:#727272;
	font-size:1.5em;
	margin-left:15px;
	margin-top:10px;
	display:inline-block;
	}
#footer-link {
	color:#727272;
	font-size:1em;
	float:right;
	margin-right:15px;
	margin-top:10px;
	display:inline-block;
	}
#footer-link:hover {
	text-decoration:underline;
	}
	