/* Color Scheme variables */
$red:           rgba(255, 86, 86, 1);
$blue-light:    rgba(0, 191, 255, 1);
$blue-medium:   rgba(0, 91, 140, 1);
$blue-dark:     rgba(17, 28, 53, 1);
$grey-white:    rgba(249, 251, 255, 1);

/* Media queries */
$screen-mobile: "only screen and (max-width : 480px)";
$screen-tablet: "only screen and (min-width : 480px) and (max-width : 720px)";

/* Mixins */

@mixin parallax {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

/* GENERAL STYLING */

body {
    background-color: $grey-white;
}

a {
    color: $blue-light;
    &:hover, &:active, &:focus {
        color: $blue-medium;
        outline: 0;
    }
    transition: linear 0.2s all;
}

.highlight {
    color: $blue-light;
}

.btn {
    transition: linear 0.2s all;
    &.btn-default {
        border-radius: 20px;
        background: transparent;
        border: 2px solid white;
        color: white;

        &:focus {
            outline: 0;
        }

        &:hover, &:active {
            @extend :focus;
            background-color: white;
            color: $blue-dark;
        }

        &:highlight {
            background: transparent;
        }
    }
}

/* END GENERAL STYLING */

/* NAVBAR */
nav {

    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;

    .navbar {
        min-height: 80px;
    }

    .logo {
        margin: 15px 0px 0px 15px;
        padding: 0px;
        height: 50px;
    }

    .navbar-header {

        button.navbar-toggle {
            padding: 25px 15px;

            &:active, &:hover, &:focus {
                background: $grey-white;
            }

            .icon-bar {
                background: $blue-dark;
            }
        }

        .navbar-brand {
            font-size: 30pt;
        }

    }

    .nav.navbar-nav.navbar-right li a {
        padding: 0 30px;
        height: 80px;
        line-height: 80px;
        color: $grey-white;
        font-weight: 600;
    }

    &.clear-nav {
        background: none;
        border: transparent;
        transition: ease-in-out 0.5s all;

        .logo {
            filter: brightness(0) invert(1);
        }
    }

    &.dark-nav {
        box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2);
        .nav.navbar-nav.navbar-right li a,
        .navbar-header .navbar-brand {
            color: $blue-dark;
        }
        background: $grey-white;
        border: transparent;
        transition: ease-in-out 0.5s all;
    }
}
/* END NAVBAR */

/* HERO IMAGE */
#hero {
    //bg video
    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        min-height: 400px;
        overflow: hidden;

        video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%;
            min-height: 100%;

            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;

            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    //overlay elements
    .overlay {
        @extend .video-container;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba($blue-medium,0.25);

        color: $grey-white;
        font-family: 'Raleway', sans-serif;

        .logo {
            height: 200px;
            display: inline-block;
            margin: 0px 20px 50px 0px;

            @media #{$screen-tablet} {
                height: 150px;
                margin: 0px 20px 30px 0px;
            }

            @media #{$screen-mobile} {
                display: inherit;
                margin: 10px auto;
            }
        }

        //title
        .title {
            margin-bottom: 100px;
            h1 {
                font-family: 'Josefin Slab', serif;
                font-weight: 700;
                font-size: 84pt;
                margin-bottom: 0px;

                @media #{$screen-tablet} {
                    font-size: 60pt;
                }

                @media #{$screen-mobile} {
                    font-size: 36pt;
                }
            }

            h2 {
                font-weight: 100;
                font-size: 18pt;
                margin-top: 0px;

                @media #{$screen-tablet} {
                    font-size: 14pt;
                }

                @media #{$screen-mobile} {
                    font-size: 12pt;
                }
            }
        }


    }
}
/* END HERO IMAGE */

/* MAIN BODY */
#main-body {
    text-align: center;

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-top: 0px;
        display: inline-block;
        border-bottom: 3px solid $blue-dark;
        padding-bottom: 10px;
    }
    margin: 0 auto;
    margin-top: 100vh;
    color: white;

    p {
        margin: 0 auto;
        padding: 0px 30px;
        max-width: 700px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 14pt;
        line-height: 2;
    }

    .body-section {
        margin: 0;
        padding: 40px;
        min-height: 600px;
        &:nth-child(2n) {
            h2 {
                border-bottom-color: white;
            }
        }
        &:nth-child(2n-1) {
            background-color: white;
            color: $blue-dark;
        }
    }

    #body-2 {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("ann.jpg");
        @include parallax();
    }

    #body-4 {
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("doctor.jpg");
        @include parallax();
    }
}
/* END MAIN BODY */

/* FOOTER */

footer {
    padding: 40px 30px;
    background-color: $blue-dark;
    color: $grey-white;

    h3 {
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    ul {
        text-align: center;
    }

    .col-sm-4 {
        padding: 0px 40px;
    }

    .btn.btn-default {
        border-radius: 0px;
    }

    .form-group {
        * {
            margin-top: 25px;
        }
        .form-control {
            resize: none;
        }
    }
}

/* END FOOTER */