/* font */
@font-face {
  font-family: 'SciFly';
  src: url('scifly.ttf') format('truetype');
}

body {
  margin:auto;
  background-color: #354254;
}

#intro-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
}

#intro-page h1 {
  font-family: 'SciFly', sans-serif;
  font-size: 10em;
  color: #ffffff;
}

#nav-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
}

#nav-page-logo {
  z-index: 10;
  position: relative;
  width: 300px;
  height: 300px;
  top: calc(30% - 150px);
  left: calc(50% - 150px);
}

canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

h1#who-i-am {
  font-size: 3em;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
}

.btn.btn-menu {
  background: #354254;
  border: 2px solid #4EC49F;
  border-radius: 50%;
  height: 130px;
  width: 150px;
  white-space: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.btn.btn-menu:hover {
	box-shadow: 0px 0px 3px 3px #4ec49f;
}

.btn.btn-menu:focus {
  outline:0;
}

@media (max-width: 720px) {
  #nav-buttons {
    opacity: 0;
    visibility: hidden;
  }
}

#btn1 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 75%;
  left:  30%;
  }

#btn2 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 85%;
  left: 50%;
}

#btn3 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 75%;
  left: 70%;
}

#btn4 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 40%;
  left: 75%;
}

#btn5 {
  position: absolute;
  margin-left:-80px;
  margin-top:-80px;
  top: 40%;
  left: 25%;
}