/* Color Scheme variables */
$red:           rgba(255, 86, 86, 1);
$blue-light:    rgba(0, 191, 255, 1);
$blue-medium:   rgba(0, 91, 140, 1);
$blue-dark:     rgba(17, 28, 53, 1);
$grey-white:    rgba(249, 251, 255, 1);

/* GENERAL STYLING */

body {
    background-color: $grey-white;
}
a {
    color: $blue-light;
    &:hover, &:active, &:focus {
        color: $blue-medium;
        outline: 0;
    }
    transition: linear ease-in 0.3s all;
}

.highlight {
    color: $red;
}

.btn {
    transition: linear ease-in 0.3s all;
    &.btn-default {
        border-radius: 20px;
        background: transparent;
        border: 2px solid white;
        color: white;

        &:focus {
            outline: 0;
        }

        &:hover, &:active {
            @extend :focus;
            background-color: white;
            color: $blue-dark;
        }

        &:highlight {
            background: transparent;
        }
    }
}

/* END GENERAL STYLING */

/* NAVBAR */
nav {

    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    transition: linear ease-in 0.3s all;

    .navbar {
        min-height: 80px;
    }

    .navbar-header {

        button.navbar-toggle {
            padding: 25px 15px;

            &:active, &:hover, &:focus {
                background: $grey-white;
            }

            .icon-bar {
                background: $blue-dark;
            }
        }

        .navbar-brand {
            font-size: 30pt;
        }

    }

    .nav.navbar-nav.navbar-right li a,
    .navbar-header .navbar-brand {
        padding: 0 30px;
        height: 80px;
        line-height: 80px;
        color: $grey-white;
        font-weight: 600;
    }  

    &.clear-nav {
        background: none;
        border: transparent;
    }
    
    &.dark-nav {
        box-shadow: 0 10px 6px -6px #999;
        .nav.navbar-nav.navbar-right li a,
        .navbar-header .navbar-brand {
            color: $blue-dark;
        }
        background: $grey-white;
        border: transparent;
    }
}
/* END NAVBAR */

/* HERO IMAGE */
#hero {
    //bg video
    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%; 
        overflow: hidden;

        video {
            /* Make video to at least 100% wide and tall */
            min-width: 100%; 
            min-height: 100%; 
            
            /* Setting width & height to auto prevents the browser from stretching or squishing the video */
            width: auto;
            height: auto;
            
            /* Center the video */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    //overlay elements
    .overlay {
        @extend .video-container;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba($blue-medium,0.3);

        color: $grey-white;
        font-family: 'Raleway', sans-serif;

        //title
        .title {
            margin-bottom: 100px;
            h1 {
                font-weight: 700;
                font-size: 84pt;
                margin-bottom: 0px;
            }

            h2 {
                font-weight: 100;
                font-size: 18pt;
                margin-top: 0px;
            }
        }
    }
}
/* END HERO IMAGE */

/* MAIN BODY */
#main-body {
    text-align: center;
    
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-top: 0px;
        display: inline-block;
        border-bottom: 3px solid $blue-dark;
        padding-bottom: 10px;
    }
    margin: 0 auto;
    margin-top: calc(100vh + 80px);
    color: white;

    p {
        margin: 0 auto;
        padding: 30px;
        max-width: 900px;
        text-align: justify;
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
        line-height: 2;
    }

    .body-section {
        margin: 0;
        padding: 75px 40px;
        &:nth-child(4n-2) {
            background-color: $red;
        }
        &:nth-child(4n-4) {
            background-color: $blue-light;
        }
        &:nth-child(2n-1) {
            background-color: $grey-white;
            color: $blue-dark;
        }
    }
}
/* END MAIN BODY */

/* FOOTER */

footer {
    padding: 40px 30px;
    background-color: $blue-dark;
    color: $grey-white;

    h3 {
        font-family: 'Raleway', sans-serif;
        text-align: center;
    }

    ul {
        text-align: center;
    }

    .col-sm-4 {
        padding: 0px 40px;
    }

    .btn.btn-default {
        border-radius: 0px;
    }
    
    .form-group {
        * {
            margin-top: 25px;
        }
        .form-control {
            resize: none;
        }
    }
}

/* END FOOTER */